@model HikerTrails.Models.Hikes

@{
    ViewBag.Title = "ViewHike";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details for Selected Hike</h2>

<div>
    <h4>Hike</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisteredParticipants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredParticipants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumParticipants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumParticipants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HikeRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HikeRating)
        </dd>
    </dl>
    @if (Model.RegisteredParticipants < Model.MaximumParticipants && !@ViewBag.isHikeRegistered)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Register", "RegisterForHike", "Hikes", new { id = Model.Id}, new { @class = "btn btn-default"})
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Register" class="btn btn-default" disabled />
            </div>
        </div>
    }

</div>

<p>
   @Html.ActionLink("Back to List", "ShowHikes")
</p>
